/* a minimalist set of CSS resets */
@import 'tachyons.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

:root {
  --color-bg: #f2f2f2;
  --transparent-bg: rgba(
    150,
    150,
    150,
    0.8
  ); /* Adjust the RGB values as needed */

  --color-text-main: #1a1a1a;
  --color-primary: #e6e6e6;
  --color-secondary: #11ee99;
  --wrapper-height: 87vh;
  --image-margin: 3rem;
  --font-family: 'Roboto Slab', serif;
  --font-family-header: 'Roboto Slab', serif;
  --container-width: 80%;
  --container-padding: 0 1.5rem;
  --border-color: #ccc;
  --link-margin: 10px;
}

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 0rem;
  font-family: sans-serif;
  line-height: 1.5;
  font-family: var(--font-family);
  background-color: var(--color-bg);
  position: relative;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}


header {
  color: var(--color-text-main);
  padding: 10px;
  font-family: var(--font-family-header);
  padding-bottom: 4rem;
}

.bg-fade {
  background: linear-gradient(to bottom, #ffffff, rgba(0, 0, 0, 0) 100%);
}

/* underline li items on hover */

ul li a:hover {
  text-decoration: underline;
}


nav a {
  color: var(--color-text-main);
  text-decoration: none;
  padding: .25rem 0;
  margin: .25rem 0;
}

h1 a {
  color: var(--color-text-main);
  text-decoration: none;
  margin: 0 10px;
  padding: 1rem;
}


button {
  font-family: var(--font-family-header);
}

section {
  color: var(--color-text-main);
}


.list-detail iframe {
    border: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 500px;
}


.text-btn {
  background: none;
  border: none;
  color: var(--color-text-main);
  cursor: pointer;
}



#bg-vid {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  height: 100vh;
}


#sound-toggle {
  
  position: fixed;
  background-color: transparent;
  background-image: url("https://cdn.glitch.global/68f04808-e771-4afc-9e43-d59773f8b92c/knob.png?v=1701649692727");
  background-size: contain;
  background-repeat: no-repeat;
  top: 20px;
  right: 20px;
  border: none;
  padding: 35px;
  cursor: pointer;
  z-index: 1;
  transition: ease 300ms;
}

#sound-toggle.speaker-on  {
  transform: rotate(300deg);
  
}

#sound-toggle.speaker-off  {
  transform: rotate(30deg);
}

.full-bg-vid {
/*     position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1; */
}